//TOP FIXED HEADER
@import "variables";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-wrap {
  background: $bahmniSecondaryColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0 10px;
  height: 52px;
}

.header, .breadcrumb-inner, .container-content {
  max-width: $max-page-width;
  margin: 0 auto;
}

h2.header-title {
  background: $bahmniSecondaryColor;
  color: $gray200;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.nav {
  float: left;
  width: auto;
  ul {
    li {
      padding: 0 20px 0 0;
      display: inline-block;
      a {
        color: $white;
        font-weight: 400;
      }
      &:hover {
        opacity: 0.75;
      }
      &.active {
        opacity: 0.75;
        font-family: san-serif, serif;
      }
    }
  }
}

ul li a.back-btn, a.back-btn {
  padding: 4px 10px 5px 10px;
  /* stylelint-disable */
  border: 1px solid #476b6b;
  background: linear-gradient(to bottom, $bahmniSecondaryColor, #527a7a);
  /* stylelint-enable */
}

ul li a.back-btn i, a.back-btn i {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a.back-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  margin: 6px 6px 0 0;
  color: $white;
  border-left: 0;
  float: left;
  font-size: 16px;
  border-radius: 3px;
}

a.back-btn:hover {
  text-decoration: none;
  color: $white;
  cursor: pointer;
  opacity: 0.8;
}