/* settings */
/* stylelint-disable */
$max-page-width: 1300px;

/*  _colors - bahmniTheme:  */
$bahmniPrimaryColor: #00463f;
$bahmniSecondaryColor: #669999;
$gray200: #eee; /* any background will not be lighter than this */
$white: #FFF;
//fonts
$fontPath: "/config-editor/fonts";